@import url('https://fonts.cdnfonts.com/css/arbutus');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
.cabecera {
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 70px 0 70px;
    padding: 1rem 0 1rem 0;
    font-family: 'Arbutus', sans-serif;
}

.cabecera-logo {
    width: 200px;
}

.cabecera-contenedor-reservar{
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

.cabecera-texto-reservar{
    font-size: 1rem;
}
.cabecera-boton-reservar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 4px;
    height: min-content;
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    background-color: #25D366;
    color:white;
}
